:root {
    --text-color: rgb(255, 255, 255);
    --link-color: #50D8D7;
    --background-color: #293132;
}

/*target every element*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*make sure scroll is smooth*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif; /*set font, sans serif is default*/
    background-color: var(--background-color); /*set variable*/
    max-width: 1700px;
    margin: 0 auto;
}

/*set default link color*/
a {
    color: var(--link-color);
    text-decoration: none;
}

/*NAVBAR*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    margin: 0px 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* Hamburger */
.menu-toggle {
    display: none;
}
.hamburger {
    z-index: 999;
    display: none;
    width: clamp(40px, 6vw, 45px);
    height: clamp(40px, 6vw, 45px);
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, .12);
    background: rgba(255, 255, 255, .06);
    cursor: pointer;
}
.hamburger span,
.hamburger span::before,
.hamburger span::after {
    display: block;
    width: 18px;
    height: 2px;
    background: #fff;
    position: relative;
    transition: .25s;
    content: "";
    transition: transform .25s ease, top .25s ease, background .25s ease;
    transform-origin: center;
}
.hamburger span::before {
    position: absolute;
    top: -6px;
}
.hamburger span::after {
    position: absolute;
    top: 6px;
}

/*Hero Section*/
.hero-section {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    /* margin-bottom: 100px; */
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .text h2 {
    font-size: 45px;
}

.hero-section .text p {
    font-size: 22px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    font-weight: 600;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    transition: 0.1s;
} 

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    height: 350px;
    border-radius: 50%;
    border: 2px solid var(--text-color);
}

/*SKILLs*/
.skills-section {
    color: var(--text-color);
    padding: 0 50px;
    padding-top: 60px;
    /* margin-bottom: 100px; */
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 270px;
    padding: 7px 20px;
    margin: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1.5px solid #313131;
    border-radius: 5px;
}

.skills-section .cells .cell img {
    height: 40px;
    object-fit: contain;
}

.skills-section .cells .cell span {
    font-weight: 500;
    font-size: 18px;
} 

/*Testimony*/
.testimony-section {
    color: var(--text-color);
    padding: 0 50px;
    padding-top: 100px;
    /* margin-bottom: 100px; */
}

.testimony-section h2 {
    font-style: 35px;
    /* margin-bottom: 30px; */
}

.testimony-section .group {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 45px;
}

.testimony-section .group .person-details {
    text-align: center;
    flex: 2;
}

.testimony-section .group .person-details img {
    background-color: #547AA5;
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimony-section .group .person-details p {
    font-weight: 600;
    font-size: 19px;
}

.testimony-section .group .person-details p:last-child {
    font-weight: normal;
    font-size: 19px;
}


.testimony-section .group .text {
    flex: 8;
    font-size: 20px;
}

/*Contact section*/
.contact-section {
    color: var(--text-color);
    padding: 0 50px;
    padding-top: 100px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-style: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}

.contact-section .group .text {
    flex: 3;
    margin-top: 25px;
    font-size: 22px;
}

.contact-section .group form {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: "Poppins", sans-serif;
    border: 1px solid #4F7CAC;
    padding: 8px;
    margin-top: 2px;
    margin-bottom: 15px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: white;
    background-color: #4F7CAC;
    border: none;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.1s;
}

.contact-section .group form button:hover {
    filter: brightness(0.9);
}

@media (max-width: 850px) {
    .hero-section .text h2 {
        font-size: 35px;
    }

    .hero-section .text p {
        font-size: 20px;
    }

    .skills-section .text {
        font-size: 20px;
    }

    .testimony-section .group .person-details p {
        font-weight: 600;
        font-size: 18px;
    }

    .testimony-section .group .person-details p:last-child {
        font-weight: normal;
        font-size: 18px;
    }

    .testimony-section .group .text {
        font-size: 18px;
    }

    .contact-section .group .text {
        font-size: 20px;
    }
}

@media (max-width: 740px) {
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img {
    height: 300px;
    }

    .hero-section .text p {
        font-size: 18px;
    }

    .skills-section .text {
        font-size: 18px;
    }

    .testimony-section {
        text-align: center;
    }

    .testimony-section .group {
        flex-direction: column;
    }

    .testimony-section .group .person-details p {
        font-size: 19px;
    }

    .testimony-section .group .person-details p:last-child {
        font-size: 19px;
    }

    .testimony-section .group .text {
        font-size: 17px;
    }

    /*Contact*/
    .contact-section .group {
        flex-direction: column;
    }

    .contact-section .group .text {
        font-size: 18px;
    }
} 

@media (max-width: 700px) {
    nav .right {
        position: absolute;
        flex-direction: column;
        align-items: center;
        align-content: center;
        overflow: hidden;
        height: 100vh;
        max-height: 0;
        background: rgba(8, 10, 14, 0.9);
        backdrop-filter: blur(12px);
        transition: max-height .5s ease-in-out, opacity .5s ease-in-out, padding .5s ease-in-out;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        opacity: 0;
        pointer-events: none;
    }
    nav .right a {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #b6c0c9;

        font-size: 22px;
        padding: 10px 0;
    }

    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 10px 0;
        border-radius: 0;
    }

    nav .right a span {
        padding: 15px 0;
        /* display: none; */
    }

    /* nav .right a{
        color: var(--text-color);
        margin: 0px 10px;
    }

    nav .right a:last-child {
        color: var(--background-color);
        background-color: var(--text-color);
        padding: 5px 15px;
        border-radius: 5px;
    } */

    /* nav .right a:last-child {
        color: var(--background-color);
        background-color: var(--text-color);
        padding: 5px 15px;
        border-radius: 5px;
    } */

    .menu-toggle:checked~.right {
        max-height: 100vh;
        height: 100vh;
        opacity: 1;
        pointer-events: auto;
    }
    .menu-toggle:checked~.body {
        overflow: hidden;
    }
    .hamburger {
        display: flex;
    }
    .menu-toggle:checked~.hamburger span {
        background: transparent;
    }
    .menu-toggle:checked~.hamburger span::before {
        top: 0;
        transform: rotate(45deg);
    }
    .menu-toggle:checked~.hamburger span::after {
        top: 0;
        transform: rotate(-45deg);
    }
}

@media (max-width: 600px) {
    /*NAVBAR*/
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color:var(--text-color);
        background-color: transparent;
    }

    nav .right a span {
        padding: 15px 0;
        /* display: none; */
    }

    /*Hero Section*/
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    .hero-section .text p {
        font-size: 1rem;
    }

    .hero-section .text .links a {
        font-size: 15px;
    }

    /*Skills Section*/
    .skills-section {
        padding: 0 20px;
    }

    .skills-section .text {
        font-size: 1rem;
    }

    .skills-section .cells .cell span {
        font-style: 16px;;
    }

    /*Testimony*/
    .testimony-section {    
        padding: 0 20px;
        padding-top: 60px;
    }

    .testimony-section .group .text {
        font-size: 1rem;
    }

    /*Contact*/
    .contact-section {
        padding: 0 35px;
        padding-top: 60px;
    }

    .contact-section .group .text {
        font-size: 1rem;
        margin-top: 12px;
    }
}
